body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(to top right, #7158e2, #3f2b96); */
  color: white;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow: hidden; */
}

button {
  margin-top: 20px;
}
.app-container {
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100vw;
  min-height: 100vh;
}

.theme-button-container{
  display: flex;
  justify-content: flex-end;
}
